* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/*========================================= завдання1 =====================================  */

.js-category-boss {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  gap: 24px;
  width: 440px;
  height: 888px;
}
.item {
  border-radius: 8px;
  padding: 16px;
  background-color: #f6f6fe;
}
.js-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.js-list {
  display: contents;
}
.js-list-title {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-top: 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 20px;
}

/*========================================= завдання2 =====================================  */

.gallery {
}
/*========================================= завдання3 =====================================  */

.js-span-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.js-input-text {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 10px;
}

/*========================================= завдання4=====================================  */

.login-form {
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 256px;
  background-color: #fff;
}
.inpt-form {
  display: flex;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-top: 10px;
}
.btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  margin-top: 30px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
/*========================================= завдання5=====================================  */
.widget {
  border-radius: 8px;
  padding: 100px 88px;
  width: 345px;
  height: 280px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;

  align-content: center;
  gap: 10px;
  justify-content: center;
}
.change-color {
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
.color {
}
